# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/*
!run/shaderpacks/ComplementaryShaders_v4.7.2/shaders/*
!ComplementaryV4.7.2-DH-patch/shaders/*
!run/shaderpacks/ComplementaryShaders_v4.7.2/shaders/*

# Files from Forge MDK
forge*changelog.txt
run-data/*
src/generated/*
src/main/generated/*
